<a href="https://colab.research.google.com/github/Fallen417/2020python/blob/master/Practical_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **2020 Python Programming Practical 3**

If you do not have one already, create a [GitHub](https://github.com) account using your DHS Mail.

Create a public repository 2020python

File --> Save a copy in GitHub under your 2020python repository

Also share this colab file with edit access with computing@dhs.sg

**Q1. (Displaying an integer reversed)**

Write a function reverse_int(n) to display an integer in reverse order:

For example, reverse_int(3456) displays 6543.

In [0]:
def reverse_int(n):
  strn=str(n)
  nn=''
  for i in range(len(strn)-1,-1,-1):
    nn+=strn[i]
  return int(nn)

reverse_int(3456)

6543

In [0]:
#alternative:

def reverse_int(n):
  num=0
  while n>0:
    r=n%10
    num=num*10+r
    n//=10
  return(num)

reverse_int(3456)

6543

**Q2. (Displaying patterns)**

Write a function display_pattern(n) to display a pattern as follows:
```
              1
            2 1
          3 2 1
...
n n-1 ... 3 2 1 
```

In [0]:
def display_pattern1(n):
  for i in range(1,n+1):  #row
    for x in range(n-i+1,0,-(n-i+1)): #spaces
      print(' '*x, end='')
    for y in range(i,0,-1):  #numbers
      print(y, end='')
    print()

def display_pattern2(n):
  for row in range(n):  #row
    print(' '*(n-row-1), end='')  #spaces
    for num in range(row+1):  #numbers
      print(num+1, end='')
    print()

display_pattern2(5)

    1
   12
  123
 1234
12345

**Q3. (Computing GCD)**

Write a function gcd(m, n) that returns the greatest common divisor between two positive integers:

Test your program with gcd(24, 16) and gcd(255, 25).

In [0]:
def gcd(m,n): #assume m>=n else swap
  for i in range(1,n+1):
    if m%i==0 and n%i==0:
      num=i
  return num

print(gcd(24,16))
print(gcd(255,25))

8
5

**Q4. (Summing series)**

Write a function m_series(i) to compute the following series:

m(i) = ½ + ⅔ + … + i/(i+1)

Generate the following table:
```
i         m(i)     
1         0.5000   
2         1.1667   
... 
19        16.4023  
20        17.3546  
```

In [0]:
def m_series(i):
  print('i' + '    ' + 'm(i)')
  aa=0
  for x in range (1, i+1):
    aa+=x/(x+1)
    print(x, '  ', f"{aa:.4f}")

m_series(4)

i    m(i)
1    0.5000
2    1.1667
3    1.9167
4    2.7167

**Q5. (Prime number)**

Write a function to determine whether an integer is a prime number. An integer greater than 1 is a prime number if its only divisor is 1 or itself. For example, is_prime(11) returns True, and is_prime(9) returns False.

Use the is_prime(n) function to find the first thousand prime numbers and display every ten prime numbers in a row, as follows:
```
2   3   5   7   11   13   17   19   23   29
31  37  41  43  47   53   59   61   67   71
73  79  83  89  97  ...
...
```

In [34]:
from math import sqrt

def is_prime(n):
  prime=[]
  not_prime=[]
  for x in range(2,n+1):
    if x == 2: 
      prime.append(2)
    if x > 2 and x % 2 == 0: 
      not_prime.append(x)
    if x == 3:
      prime.append(x)
    if x > 2 and x % 2 != 0:
      for i in range(3, int(sqrt(n)+1), 2): 
        if x % i == 0: 
          if x != 3 and x != 5 and x != 7:
            not_prime.append(x)
      if x not in not_prime[0:]:
        if x not in prime[0:]:
          prime.append(x)
  
  for a in range(0,len(prime)+20 ,11):
    prime.insert(a,'\n')
  for b in range(0,len(prime)):
    print(prime[b], end=' ')

is_prime(1000)

 2 3 5 7 37 41 43 47 53 59
 61 67 71 73 79 83 89 97 101 103
 107 109 113 127 131 137 139 149 151 157
 163 167 173 179 181 191 193 197 199 211
 223 227 229 233 239 241 251 257 263 269
 271 277 281 283 293 307 311 313 317 331
 337 347 349 353 359 367 373 379 383 389
 397 401 409 419 421 431 433 439 443 449
 457 461 463 467 479 487 491 499 503 509
 521 523 541 547 557 563 569 571 577 587
 593 599 601 607 613 617 619 631 641 643
 647 653 659 661 673 677 683 691 701 709
 719 727 733 739 743 751 757 761 769 773
 787 797 809 811 821 823 827 829 839 853
 857 859 863 877 881 883 887 907 911 919
 929 937 941 947 953 967 971 977 983 991
 997

**Q6. (Convert from kilograms to pounds)**

Write a function print_matrix(n) that displays an n by n matrix, where n is a positive integer entered by the user. Each element is 0 or 1, which is generated randomly. A 3 by 3 matrix may look like this:
```
0 1 0
0 0 0
1 1 1 
```

In [10]:
from random import randint

def print_matrix(n):
  matrix=[]
  for i in range(1,n**2+1):
    matrix.append(randint(0,1))
  for x in range(n,n**2,n+1):
    matrix.insert(x,'\n')
  for y in range(0,n**2+n-1):
    print(matrix[y], end='')

print_matrix(10)

0111100111
1100011011
0011101111
0000101110
1100010110
0010011100
0100010101
1110111101
1101110111
1010100010

**Q7. (Converting milliseconds to hours, minutes, and seconds)**

Write a method convert_ms(n) that converts milliseconds to hours, minutes, and seconds. The method returns a string as hours:minutes:seconds. For example, convert_ms(5500) returns a string 0:0:5, convert_ms(100000) returns a string 0:1:40, and convert_ms(555550000) returns a string 154:19:10.

In [0]:
def convert_ms(n):
  s=int((n/1000)%60)
  m=int((n/(1000*60))%60)
  h=int((n/(1000*60*60))%3600)
  print('%d:%d:%d' % (h,m,s))

convert_ms(555550000)

154:19:10